.Rhistory
variant_surveillance.tsv
.DS_Store
*.csv
*.tar.xz
Rplots.pdf
gisaid_user_password.txt
variantes_mx.csv

# User-specific stuff
.idea/
!tablas/Proporcion_variantes_nacional.csv
!tablas/Proporcion_variantes_cdmx.csv

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
